body {
  /* padding-top: 50px; */
}

#map {
    padding-top: 50px;
    height: 100%;
    width: 100%;
}

#info {
    display: none;
    position: fixed;
    top: 57px;
    left: 50px;
    width: 320px;
}

#info-overview {
    display: none;
}

#info-comments
{
    display: none;
}

.info-panel-heading {
    font-weight: bold;
    font-size: 24px;
}

#close-info-overview {
    float: right;
}

#close-info-comments {
    float: right;
}

.comment {
    /* border: 0.5px solid #aaa; */
}

.comment-date {
    padding-left: 0.5em;
    text-align: right;
    font-size: 12px;
    color: #aaa;
}
